name: Docker Image CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t ghcr.io/${{ env.GITHUB_REPOSITORY }}/cicd-flask:v1 .

    - name: Log in to GitHub Container Registry
      run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ env.GITHUB_REPOSITORY }} --password-stdin

    - name: Push Docker image to GitHub Container Registry
      run: docker push ghcr.io/${{ env.GITHUB_REPOSITORY }}/cicd-flask:v1
      
