name: Docker Image CI

on:
  push:
    branches:
      - main
env:
  PROJECT_ID: carbide-server-378603
  GAR_LOCATION: asia-southeast1 # TODO: update region of the Artifact Registry

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          token_format: 'access_token'

      - uses: 'docker/login-action@v1'
        name: 'Login to Artifact Registry'
        with:
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v1
      #   id: buildx

      # - name: Authenticate with GCR
      #   run: |
      #     echo ${{ secrets.GCP_SA_KEY }} | base64 --decode > key.json
      #     gcloud auth activate-service-account --key-file=key.json
      #     gcloud auth configure-docker

      # - name: Build and Push Docker Image
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: ./docker/.
      #     file: ./Dockerfile
      #     builder: ${{ steps.buildx.outputs.name }}
      #     push: true
      #     tags: gcr.io/carbide-server-378603/cicd-flask:v1

      # - name: Google Auth
      #   id: auth
      #   uses: google-github-actions/auth@v0
      #   with:
      #     credentials_json: ${{ secrets.GCP_SA_KEY }}

      # - name: Docker Auth
      #   id: docker-auth
      #   uses: 'docker/login-action@v1'
      #   with:
      #     username: oauth2accesstoken
      #     password: ${{ steps.auth.outputs.access_token }}
      #     registry: ${{ env.GAR_LOCATION }}-docker.pkg.dev

      # - name: Authenticate with Google Cloud
      #   uses: google-github-actions/setup-gcloud@v0.2.0
      #   with:
      #     project_id: ${{ env.PROJECT_ID }}
      #     service_account_key: ${{ secrets.GCP_SA_KEY }}

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: .
      #     push: true
      #     tags: gcr.io/${{ env.PROJECT_ID }}/cicd-flask:latest
