name: Docker Image CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        id: buildx

      - name: Authenticate with GCR
        run: |
          echo ${{ secrets.GCP_SA_KEY }} | base64 --decode > key.json
          gcloud auth activate-service-account --key-file=key.json
          gcloud auth configure-docker

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: ./docker/.
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: gcr.io/carbide-server-378603/cicd-flask:v1
