name: Docker Image CI

on:
  push:
    branches:
      - main
env:
  PROJECT_ID: carbide-server-378603
  GAR_LOCATION: asia-southeast1 # TODO: update region of the Artifact Registry
  SERVICE: citeco

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          token_format: 'access_token'
          credentials_json: '${{ secrets.GCP_KEY }}'

      - uses: 'docker/login-action@v1'
        name: 'Login to Artifact Registry'
        with:
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: ./docker/.
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:lastest

      # - name: Google Auth
      #   id: auth
      #   uses: google-github-actions/auth@v0
      #   with:
      #     credentials_json: ${{ secrets.GCP_KEY }}

      # - name: Docker Auth
      #   id: docker-auth
      #   uses: 'docker/login-action@v1'
      #   with:
      #     username: oauth2accesstoken
      #     password: ${{ steps.auth.outputs.access_token }}
      #     registry: ${{ env.GAR_LOCATION }}-docker.pkg.dev

      # - name: Authenticate with Google Cloud
      #   uses: google-github-actions/setup-gcloud@v0.2.0
      #   with:
      #     project_id: ${{ env.PROJECT_ID }}
      #     service_account_key: ${{ secrets.GCP_KEY }}

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: .
      #     push: true
      #     tags: gcr.io/${{ env.PROJECT_ID }}/cicd-flask:latest
